#tahvel{
    background-color:  lightgreen;
    width: 50%;
    height: 70%;
    border-radius: 25% 10%;
    border-left: solid 2pt darkslateblue;
    border-top: solid 2pt darkslateblue;
}

h1{
    border-left: solid 3pt blueviolet;
    border-top: solid 2pt blueviolet;
    width: 320px;
    border-radius: 10% 40% / 50% 20%;
    color: firebrick;
    background-color: beige;
    text-align: -webkit-center;
    font-family: serif, fantasy;
}

input[type=button]{
    background-color: firebrick;
    border: solid 2pt darkslateblue;
    /*border: 0:  чтобы убрать рамку у кнопки*/
    color: chocolate;
    padding: 35px 20px;
}
input[type=button]:hover{
    background-color: beige;
    color: black;
}